#container {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./20kdays.jpg");
    background-position: center;
    background-size: cover;
    /* width: 1815px; */
    height: 100vh;
    color: white;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    color: #1faeef;
    background: rgba(0,0,0,0.8);
    padding: 0.5rem;
    border-bottom: 1px solid #1faeef;
}

h2 {
    color: #888;
    text-transform: uppercase;
    font-size: 85%;
}

#dob {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

#output {
    display: none;
    background: rgba(0,0,0,0.6);
    width: 75%;
    margin: 0 auto;
    padding: 0.5rem;
}

@media screen and (min-width: 700px) {
    #container {
        padding: 2rem;
        font-size: larger;
    }

    h1 {
        padding: 2rem 0;
    }

    #output {
        margin-top: 4rem;
        padding: 1.5rem;
    }

    #dob {
        background: rgba(0,0,0);
        color: white;
    }
}

